.poke-card {
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.data-poke {
  font-weight: bold;
  font-style: italic;
}

.bgc-green {
  background-color: rgba(6, 112, 6, 0.768);
}

.bgc-purple {
  background-color: rgba(128, 0, 128, 0.644);
}

.bgc-red {
  background-color: rgba(255, 68, 0, 0.81);
}

.bgc-aqua {
  background-color: rgba(0, 255, 255, 0.499);
}

.bgc-green-light {
  background-color: rgba(172, 255, 47, 0.668);
}

.bgc-gray {
  background-color: gainsboro;
}

.bgc-yellow {
  background-color: rgba(255, 255, 0, 0.618);
}

.bgc-brown {
  background-color: rgba(255, 228, 196, 0.642);
}

.bgc-default {
  background-color: whitesmoke;
}
