.button-container{
  width: 50%;
  margin: 0 auto;
}

.button-component{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  gap: 10px;

  position: absolute;
  width: auto;
  height: 50px;

  background: #007298;
  border-radius: 4px;
}

.text-button{
  width: auto;
  height: 24px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}
